
[Unit]
Description=Create extra virtual audio sinks
Requires=pipewire-pulse.service graphical-session.target
After=pipewire-pulse.service graphical-session.target

[Service]
Type=oneshot
Restart=no
ExecStart=/usr/share/cherryscripts/extra-virtual-sinks.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target