
[Unit]
Description=Load I2C module for motherboard SMBus access for OpenRGB
Requires=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
Restart=no
ExecStart=/usr/share/cherryscripts/modprobe-i2c-drivers.sh
RemainAfterExit=true

[Install]
WantedBy=default.target