
[Unit]
Description=Create virtual audio sinks for PipeWire
After=pipewire-pulse.service

[Service]
ExecStart=/etc/pa-virtual-sinks/create_pa_sinks.sh
RemainAfterExit=true

[Install]
WantedBy=default.target