
[Unit]
Description=Load I2C module for motherboard SMBus access for OpenRGB
Requires=systemd-modules-load.service
After=systemd-modules-load.service local-fs.target
Restart=no

[Service]
ExecStart=/usr/share/myscripts/modprobe-i2c-drivers.sh
RemainAfterExit=true

[Install]
WantedBy=default.target